__pycache__
venv
launch.json
build/*.user
build/*.tcl
build/*.vcxproj
build/*.filters
build/*.txt
build/*.dir
build/*/
build/*.sln
build/*.cmake
build/*.h
.cache
Cuda/qr_config.h
compile_commands.json
